/*
  COULEURS
 	bleu================> #0065FC
 	version plus claire=> #DEEBFF
 	gris pour le fond===> #F2F2F2

 	POLICE ==> font-family: 'Raleway', sans-serif;
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;	
}

html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* HEADER */

header {
  margin: 52px 0 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  min-width: 280px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  float: left;
  height: 50px;
  width: 50px;
}

.list {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  text-decoration: none;
  color: #000;
}

nav ul li {
  border-top: solid 2.5px transparent;
}

.main-nav .location {
  padding: 65px 20px 10px;
  color: #0065FC;
  font-weight: bold;
}

.main-nav .location:hover {
  border-top: 2px solid #0065fc;
}

.main-nav .activities {
  padding: 65px 20px 10px;
  font-weight: bold;
}

.main-nav .activities:hover {
  border-top: 2px solid #0065fc;
}

.main-nav .inscrire {
  padding: 0 20px;
  margin-right: 40px;
  color: #0065FC;
  font-weight: bold;
  font-size: 20px;
}

	/* RECHERCHE */

.main-container {
  position: relative;
  margin: 50px 0 0;
}

.main-container h1 {
  font-size: 25px;
}

.main-container p {
  margin-top: 20px;
  font-weight: bold;
}

.search-container {
  margin-top: 25px;
}

.btn-1 .gps {
  background-color: #F2F2F2;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-1 .search {
  position: relative;
  right: 5px;
  width: 220px;
  height: 50px;
  border: 1px solid #F2F2F2;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  padding-left: 10px;
}

.btn-2 {
  margin-left: -10px;
  width: 110px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  background-color: #0065FC;
  color: #fff;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.search, .btn-2:focus {
  outline: none;
}

	/* FILTRE */

#recherche {
  margin: 0;
  padding: 0;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
}

.filter-container h2 {
  font-size: 1.5em;
}

.filter {
  display: flex;
  margin-left: 40px;
}

.filter-categories {
  margin-right: 30px;
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  width: 160px;
  height: 54px;
}

.filter-categories:hover {
  background: #deebff;
}

.filter-icons {
  background-color: #deebff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #0065FC;
}

.filter-details {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

.filter-details:hover {
  color: #0065FC;
}

.eco {
  width: 180px;
}

.family {
  width: 145px;
}

.animal {
  width: 220px;
}

	/* INFO */

.infos {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.infos .news {
  border: 2px solid #F2F2F2;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #0065FC;
}

.infos p {
  margin-left: 10px;
  font-weight: bold;
}

/* MENU HEBERGEMENTS */

main {
  margin: 0 auto;
  padding: 0;
}

.group {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.logement {
  background-color: #F2F2F2;
  flex: 100%;
  height: 680px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.logement h2 {
  font-size: 25px;
  margin: 20px 25px 0;
}

.logement-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 10px;
}

.logements-cart {
  flex: 30%;
  margin-top: 30px;
  height: 210px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #d8d7d7;
  transition: box-shadow 0.4s;
  text-decoration: none;
}

.logements-cart:hover {
  transform: scale(1.01);
}

.logements-cart img {
  height: 115px;
  width: 100%;
  object-fit: cover;
  padding: 5px 5px 0 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

.logements-details {
  display: flex;
  flex-direction: column;
}

.logements-details h3 {
  font-size: 15px;
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 6px;
  color: #000;
}

.logements-details p {
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 6px;
  color: #000;
}

.price {
  font-weight: bold;
}

.star-icons {
  display: inline-block;
  position: relative;
  left: 15px;
  font-size: 12px;
}

.full {
  color: #0065FC;
}

.simple {
  color: #F2F2F2;
}

.other-page {
  flex: 1;
  margin-left: 25px;
  margin-top: 50px;
}

.other-page a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

	/* ASIDE */

.aside {
  flex: 20%;
  height: 680px;
  background-color: #F2F2F2;
  border-radius: 10px;
  margin-left: 30px;
  padding: 20px;
}

.aside-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.aside-title h2 {
  font-size: 25px;
  margin: 5px 5px 0 0;
}

.aside-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-container {
  width: 320px;
  height: 145px;
  background-color: #fff;
  box-shadow: 0 0 6px 3px #d8d7d7;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 4px;
  margin-right: 4px;
}

.aside-container:hover {
  transform: scale(1.01);
}

.aside-cart img {
  object-fit: cover;
  width: 125px;
  height: 135px;
  margin: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  margin-top: -125px;
  margin-left: 150px;
}

.aside-cart {
  text-decoration: none;
}

.cart-details h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #000;
}

.cart-details p {
  font-size: 15px;
  color: #000;
}

.cart-star-icons {
  margin-top: 30px;
  font-size: 12px;
}

.line-1 {
  font-size: 25px;
  margin: 5px 10px 0 0;
}

	/* ACTIVITES */

#activites {
	width: 1265px;
}

.activites-list .activites-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 400px;

  margin-bottom: 40px;
}

.title {
  margin: 50px 0 30px;
}

.activites-list .activites-group .activite {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #d8d7d7;
}

.activites-list .activites-group .activite .image {
  flex: 1;
  border-radius: 8px 8px 0 0;
}
.activites-list .activites-group .activite h6 {
  font-size: 0.9em;
  margin: 15px;
}
.activites-list .activites-group .activite2 {
  flex-basis: 50%;
}
.activites-list .activites-group .activite3 {
  flex-basis: 38%;
}
.activites-list .activites-group .activite5 {
  flex-basis: 45%;
}
.activites-list .activites-group .activite6 {
  flex-basis: 45%;
}

.activites-list .activites-group .activite1 .image {
  background-image: url("../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activites-list .activites-group .activite2 .image {
  background-image: url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activites-list .activites-group .activite3 .image {
  background-image: url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activites-list .activites-group .activite4 .image {
  background-image: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.activites-list .activites-group .activite5 .image {
  background-image: url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: top;
}
.activites-list .activites-group .activite6 .image {
  background-image: url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: top;
}

#activites a {
	text-decoration: none;
	color: #000;
}

#activites a:hover {
  transform: scale(1.01);
}

	/* FOOTER */

footer {
  width: auto;
  height: 210px;
  background-color: #F2F2F2;
}

.footer-line {
  margin-top: 80px;
  display: flex;
  align-items: center;
}

.footer-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 145px;
}
.footer-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-description-loge {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-bottom: 40px;
}
footer h1 {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer-link {
  text-decoration: none;
  margin-bottom: 12px;
  color: #000;
}

.footer-link:hover {
  color: #0065FC;
}

/* VERSION DESKTOP */

@media screen and (min-width:1025px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }

  section {
    
  }

  aside {
    display: inline-block;
    vertical-align: center;
    width: 30%;
  }
}